<div class="col-sm-4" style="float:left">
  <!-- <img src='<%=@recipe.image_url%>' class="img-responsive" style="width:100%" alt="Image"> -->
<%= image_tag @recipe.image.url %>
  <br>
</div>

<div class="middlePage">
<h3><%=@recipe.name%></h3>

<ul class="list-group">
  
  <%@recipe.ingredients.each do |i|%>
    <% if ! i.name.blank? %>
    <li class="list-group-item"> <%= i.name%></li>
    <%end%>
  <%end%>

</ul>
<%= link_to "Back", recipes_path %>
</div>