
<div class="middlePage">
<div class="page-header">
  <h1 class="logo">Cookers <small>Welcome to our Website!</small></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Please Sign In</h3>
  </div>
  <div class="panel-body">
  
  <div class="row">
  
<div class="col-md-5" >
<a href="#"><i class="fa fa-facebook-square" aria-hidden="true"> </i>
Log in with Facebook</a><br/>
<a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i> Log in with Twitter</a><br/>
<a href="#"><i class="fa fa-github-square" aria-hidden="true"></i> Log in with Github</a>
 <br><br> <%= render "devise/shared/links" %>

</div>

<div class="col-md-7" style="border-left:1px solid #ccc;height:160px">

<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html=>{
  :class =>"form-horizontal"} ) do |f| %>
<fieldset>
<%= f.email_field :email, autofocus: true , placeholder: "Enter User Email" , id: 'textinput' ,class: 'form-control input-md'%>
  
  <div class="spacing">
  
  <% if devise_mapping.rememberable? -%>
  <%= f.check_box :remember_me , id: "checkboxes-0"%>
  <%= f.label :remember_me ,id: "checkboxes-0"%>
  </div>
   <% end -%>
  <%= f.password_field :password, autocomplete: "off" , id: 'textinput' ,class: 'form-control input-md', placeholder: "Enter User password"%>
  <div class="spacing"><a href="#"><small> Forgot Password?</small></a><br/></div>
  <%= f.submit "Log in" ,class: "btn btn-info btn-sm pull-right"%>
</fieldset>

<% end %>
</div>
    
</div>
    
</div>
</div>

<!-- <p><a href="https://github.com/arjunkomath">About</a> · Arjun</p> -->

</div>



