<!DOCTYPE html>
<html>
<head>
  <title>RecipesApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav ul li a:hover:not(.active) {
    background-color: #a5a2a2;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>

<body>
<nav>
<ul>
 <li class="active"><%= link_to "Home", recipes_path%></li>
<% if current_user %>

  <li><%= link_to "New Recipe", new_recipe_path%></li>
  <li style="float:right"><%=link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  <%else%>
  <li><%= link_to "Sign Up", new_user_registration_path %></li>
  <li><%= link_to "Sign In", new_user_session_path %></li>
  <%end%>
  <!-- <li><a href="#home">Home</a></li> -->
  <% if current_user %>
  <li style="float:right"><%=link_to current_user.username , edit_user_registration_path %></li>
  <%end%>
 
  <!-- <li style="float:right"><a href="#about">About</a></li> -->
</ul>
</nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  
  <%= yield %>
  


  
</body>
</html>
